trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  displayName: "Checkout Repo"

- script: |
    npm install
    npx playwright install --with-deps
    npx playwright test --project=chromium
  displayName: "Run Playwright Tests"
